
body {
   
    background-image:url("../img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
   background-repeat: no-repeat;
  }

  
  #menu,#logo {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

#menu:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}


#mainNav {
  background: #1e2b38;

}



#format {
  background: #1e2b38;

}

#format #foto {
  width: 300px ;
  padding-top: 50px;
  padding-bottom: 20px;

}



#home .container{

    padding-top: 100px;
    padding-bottom: 30px;
   
}

#home #text1{

  color: #ffff;
 
}


#skill .container{

  padding-top: 120px;
}


#skill .container #tab-final{
margin-top: 130px;
 
}




.img {
  text-align: center;
  padding-top:50px;
  padding-bottom: 70px;
}


.img .format{
  width: 100px;
  align-content: center;
}






#projects-section .container-fluid{

  padding-top: 70px;
}

#contact-section .container{
  padding-top: 70px ;
  background: #1e2b38;
}


#contact-section{

background: #1e2b38;
}


#contact-section #text {

  color: #ffff;
}





.proyect{
  background: var(--second-bg-color);
  justify-content: center;

}

.proyect .title{
  justify-content: center;
  text-align: center;
}

.proyect h2{
margin-bottom: 1rem;
}


.proyects-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.proyects-container .proyect-box{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.proyect-box img{
  width: 100%;
  transition: .5s ease;
  
}

.proyect-box img:hover{
  transform: scale(1.1);
}

.proyect-box .proyect-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 59, 0.694);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
  border-radius: 2rem;
}


.proyect-box:hover .proyect-layer{
  transform: translateY(0%);
}

.proyect-layer h4{

  font-size:  3rem;
  color: #fff;
}


.proyect-layer p {
  font-size: 1.4rem;
  margin: .3rem 0 1rem;
  color:white
}

.proyect-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: white;

  border-radius: 50%;
  margin-bottom: 1rem;

}

.proyect-layer a img {
width: 50%;



}











#contact-section .fa-whatsapp,.fa-envelope,.fa-linkedin,.fa-github {
  padding-bottom: 20px;
  font-size: 60px; /* tamaño de los iconos*/
  color: #fff
  
}


.copi{ 
text-align: center;
font-size: 10px;
margin-bottom: 10px;
margin-top: -40px;
}




.skill .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}


.skill .progress .progress-bar{
  height: .7rem;
  background-color: #0078ff;
}

#contact-section .fa-whatsapp:hover{color: #0db631;}
#contact-section .fa-linkedin:hover{color: #0078da;}
#contact-section .fa-envelope:hover{color: #cc6709;}
#contact-section .fa-github:hover{color: #000000;}



@media screen and (max-width: 500px){
  /* cunado estes en pantalla y maximo 800 px*/ 
 
  #format .fotoperfil {
    
    
    align-content: center;
    text-align: center;
  
  }

  .proyects-container{
    display: block;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .proyects-container .proyect-box{
    margin-bottom: 3rem;


  }

}

